.landing_page_bg {
  background-image: url('/landing-page-image.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
