.tiltTop {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.tiltTop svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
  transform: rotateY(180deg);
}

.shapeFill {
  fill: #f3a904;
}

.tiltBottom {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tiltBottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
  transform: rotateY(180deg);
}
